.preview{
    margin-left: 192px;
    margin-right: 163px;
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
}
.textLight{
    margin-top: 25px;
    width: 427px;
    height: 96px;
    color: #7D7987;
    font-family: Mulish, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}
.textBold{
    margin-top: 106px;
    width: 427px;
    height: 112px;
    color: #000;
    font-family: Mulish, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}
.button-main{
    margin-top: 25px;
    background: #458FF6;;
    border: 1.4px solid #458FF6;
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}