.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoCircle{
    display: flex;
    flex-direction: row;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    background: #458FF6;
    height: 41px;
    width: 41px;
    border-radius: 50%;
}
.logoCircleWhite{
    display: flex;
    flex-direction: row;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    background: white;
    height: 41px;
    width: 41px;
    border-radius: 50%;
}
.logoT{
    color: white;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    font-family: Mulish, sans-serif;
}
.logoTBlue{
    color: #458FF6;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    font-family: Mulish, sans-serif;
}
.logoText{
    color: #233348;
    font-family: Mulish, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.logoTextWhite{
    color: white;
    font-family: Mulish, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}