.serviceName{
    margin-top: 23px;
}
.serviceDescription{
 margin: 0 0;
}

.card{
    padding: 40px 50px;
    box-shadow: 0 0 10px grey;
    width: 350px;
    height: 354px;
    box-sizing: border-box;
}